/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header{
    margin:0 auto;
    width: 50%;
    text-align: center;
}
.collage{
    margin:0 auto;
    width: 800px;
}
  
  
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */